<!DOCTYPE html>
<html>
<head>
  <title>Faves&Hates</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/faves/foods'>Favorite Foods</a></li>
    <li><a href='/faves/animals'>Favorite Animals</a></li>
    <li><a href='/hates/foods'>Hate Foods</a></li>
    <li><a href='/hates/animals'>Hate Animals</a></li>
  </ul>
  <%- body %>
</body>
</html>

